* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'telegramaraw';
}



.navbar{
    background-color: #b14343;
    color: white;
}

h1{
    background-color: #b14343;
    color: white;
    font-family: 'i_pixel_uregular';
}

.navbar-brand, h2{
    font-family: 'i_pixel_uregular';
    text-transform: uppercase;
}

.active{
    background-color: #f6297e!important;
    color: white!important;
}

.list-group-item{
    color: white!important;
}

#barrita{
    color: white;
}

.scrollable-content,
.list-group-item{
    background-image: url(img/fondoagricola.jpg);
    background-size: cover;
}

.form-group img {
    width: 17%;
    display: inline-block;
}

.input {
    width: calc(70% - 2em);
}

.input__field{
    color: #668b4c;
    background-color: #ffe6b0;
    
}

.input__label-content{
    color: #53524d!important;
}


.error{
    color: #b14343;
}

#botonito, .eli{
    background-color: #0095e4;
    color: white;
    border: none;
}

.eli{
    padding: 5px 10px;
    border-radius: 5px;
}

form{
    width:350px;
}

.muestrita{
    background-image: url(img/fondoagricola.jpg);
    background-size: cover;
}

.muestra{
    border-bottom:2px solid white;
    padding:10px;
    margin:15px;
}

.portaInfo span, .portaInfo p{
    color: black;
}

#infoEntrega{
    padding: 20px;
    text-align: center;
}

ul{
    list-style: none;
}

img{
    width: 100%;
    margin-bottom: 10px;
}

 