<div class="scrollable">  
	<div class="scrollable-content">
		<div class="scrollable">
 <div class="scrollable-content section" ng-controller="micontroller">
 
	<p>Calculá tu puntaje del juego de mesa Agrícola llenando todos los campos de acá abajo:</p>
			<form name="formulario" ng-submit="guardar(datos)" novalidate>
			
			<div class="form-group">
			
				<ng-input theme='manami' label='JUGADOR' ng-required="si" ng-minlength=3 ng-model="datos.nombre" name="nombre"></ng-input>
			<div class="error" ng-show="formulario.nombre.$invalid && formulario.nombre.$touched">
				<span ng-show="formulario.nombre.$error.required">Completame!</span>
				<span ng-show="formulario.nombre.$error.minlength">Ese nombre es muy cortín!</span>
			</div>
			
			<ng-input theme='manami' type='number' label='CAMPOS' ng-required="si" ng-model="datos.campos" name="campos"></ng-input>
			<div class="error" ng-show="formulario.campos.$invalid && formulario.campos.$touched">
				<span ng-show="formulario.campos.$error.required">Completame!</span>
				<span ng-show="formulario.campos.$error.number">Esto debería ser un numerín</span>

			</div>
			
			
			<ng-input theme='manami' type='number' label='PASTOS' ng-required="si" ng-model="datos.pastos" name="pastos"></ng-input>
			<div class="error" ng-show="formulario.pastos.$invalid && formulario.pastos.$touched">
				<span ng-show="formulario.pastos.$error.required">Completame!</span>
				<span ng-show="formulario.pastos.$error.number">Esto debería ser un numerín</span>
			</div>
			
				
			<ng-input theme='manami' type='number' label='GRANOS' ng-required="si" ng-model="datos.granos" name="granos"></ng-input>
			<div class="error" ng-show="formulario.granos.$invalid && formulario.granos.$touched">
				<span ng-show="formulario.granos.$error.required">Completame!</span>
				<span ng-show="formulario.granos.$error.number">Esto debería ser un numerín</span>
			</div>
			
			<ng-input theme='manami' type='number' label='VEGETALES' ng-required="si" ng-model="datos.vegetales" name="vegetales"></ng-input>
			<div class="error" ng-show="formulario.vegetales.$invalid && formulario.vegetales.$touched">
				<span ng-show="formulario.vegetales.$error.required">Completame!</span>
				<span ng-show="formulario.vegetales.$error.number">Esto debería ser un numerín</span>
			</div>
			
			<ng-input theme='manami' type='number' label='OVEJAS' ng-required="si" ng-model="datos.ovejas" name="ovejas"></ng-input>
			<div class="error" ng-show="formulario.ovejas.$invalid && formulario.ovejas.$touched">
				<span ng-show="formulario.ovejas.$error.required">Completame!</span>
				<span ng-show="formulario.ovejas.$error.number">Esto debería ser un numerín</span>
			</div>
			
			<ng-input theme='manami' type='number' label='CHANCHOS' ng-required="si" ng-model="datos.chanchos" name="chanchos"></ng-input>
			<div class="error" ng-show="formulario.chanchos.$invalid && formulario.chanchos.$touched">
				<span ng-show="formulario.chanchos.$error.required">Completame!</span>
				<span ng-show="formulario.chanchos.$error.number">Esto debería ser un numerín</span>
			</div>
			
			<ng-input theme='manami' type='number' label='GANADO' ng-required="si" ng-model="datos.ganado" name="ganado"></ng-input>
			<div class="error" ng-show="formulario.ganado.$invalid && formulario.ganado.$touched">
				<span ng-show="formulario.ganado.$error.required">Completame!</span>
				<span ng-show="formulario.ganado.$error.minlength">Minimo 3 caracteres</span>
				<span ng-show="formulario.ganado.$error.number">Esto debería ser un numerín</span>
			</div>
			
			<ng-input theme='manami' type='number' label='TIERRAS SIN USAR' ng-required="si" ng-model="datos.tierra" name="tierra"></ng-input>
			<div class="error" ng-show="formulario.tierra.$invalid && formulario.tierra.$touched">
				<span ng-show="formulario.tierra.$error.required">Completame!</span>
				<span ng-show="formulario.tierra.$error.number">Esto debería ser un numerín</span>
			</div>
			
			<ng-input theme='manami' type='number' label='ESTABLOS VALLADOS' ng-required="si" ng-model="datos.vallados" name="vallados"></ng-input>
			<div class="error" ng-show="formulario.vallados.$invalid && formulario.vallados.$touched">
				<span ng-show="formulario.vallados.$error.required">Completame!</span>
				<span ng-show="formulario.vallados.$error.number">Esto debería ser un numerín</span>
			</div>
			
			<ng-input theme='manami' type='number' label='CHOZA DE ARCILLA' ng-required="si" ng-model="datos.choza" name="choza"></ng-input>
			<div class="error" ng-show="formulario.choza.$invalid && formulario.choza.$touched">
				<span ng-show="formulario.choza.$error.required">Completame!</span>
				<span ng-show="formulario.choza.$error.number">Esto debería ser un numerín</span>
			</div>
			
			<ng-input theme='manami' type='number' label='CASA DE PIEDRA' ng-required="si" ng-model="datos.casa" name="casa"></ng-input>
			<div class="error" ng-show="formulario.casa.$invalid && formulario.casa.$touched">
				<span ng-show="formulario.casa.$error.required">Completame!</span>
				<span ng-show="formulario.casa.$error.number">Esto debería ser un numerín</span>
			</div>
			
			<ng-input theme='manami' type='number' label='MIEMBROS DE LA FAMILIA' ng-required="si" ng-model="datos.familia" name="familia"></ng-input>
			<div class="error" ng-show="formulario.familia.$invalid && formulario.familia.$touched">
				<span ng-show="formulario.familia.$error.required">Completame!</span>
				<span ng-show="formulario.familia.$error.number">Esto debería ser un numerín</span>
			</div>
			
			<ng-input theme='manami' type='number' label='PUNTOS DE CARTAS' ng-required="si" ng-model="datos.puntos" name="puntos"></ng-input>
			<div class="error" ng-show="formulario.puntos.$invalid && formulario.puntos.$touched">
				<span ng-show="formulario.puntos.$error.required">Completame!</span>
				<span ng-show="formulario.puntos.$error.number">Esto debería ser un numerín</span>
			</div>
			
			<ng-input theme='manami' type='number' label='BONUS' ng-required="si" ng-model="datos.bonus" name="Bonus"></ng-input>
			<div class="error" ng-show="formulario.bonus.$invalid && formulario.puntos.$touched">
				<span ng-show="formulario.bonus.$error.required">Completame!</span>
				<span ng-show="formulario.bonus.$error.number">Esto debería ser un numerín</span>
			</div>

			 <!--
			 
			 
			 
			 <button class="btn btn-primary btn-block">Guardar</button>
			 
			 -->
			 
			 <button class="btn btn-primary btn-block" ng-disabled="formulario.$invalid" id="botonito">CALCULAR</button>
			 
			 
			 </div>
			</form>
			
		
	</div>
</div>
</div>
</div>

